img {
  max-width: 100%;
  display: block;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Roboto, sans-serif;
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
}

body header.header {
  background: #16161a;
  color: #fffffe;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  overflow-y: auto;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
body header.header div.bar {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
}
body header.header div.bar a {
  color: #fffffe;
  position: absolute;
  font-size: 20px;
  top: 20px;
  left: 20px;
  display: none;
}
body header.header div.bar h2.name {
  text-align: center;
}

body header.header h2.name {
  font-size: 24px;
}

body header.header img {
  border-radius: 50%;
  max-width: 160px;
}

body header.header p.description {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 30px;
}

body header.header div.box1 {
  display: flex;
}

body header.header div.box1 div.social {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

body header.header div.box2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

body header.header div.box2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

body header.header div.box2 ul li {
  transition: 0.3s;
  margin-bottom: 20px;
}

body header.header div.box2 ul li:hover {
  transform: scale(1.1);
}

body header.header div.box2 ul li a {
  text-decoration: none;
  color: #fffffe;
  font-weight: bold;
  font-size: 16px;
}

body header.header div.box2 div.hire {
  background-color: #7f5af0;
  border-radius: 4px;
  width: 160px;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  margin-bottom: 20px;
}

body header.header div.box2 div.hire:hover {
  transform: scale(1.1);
}

body header.header div.box2 div.hire a {
  width: 100%;
  height: 100%;
  padding-top: 33px;
  padding-right: 13px;
  font-weight: bold;
  text-decoration: none;
  color: #fffffe;
  line-height: 1.5em;
}

body section.container {
  flex-grow: 1;
  background-color: #242629;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body section.container div.sobre {
  background: #242629;
  width: 100%;
}

body section.container div.sobre div.container {
  max-width: 1096px;
  margin: 0 auto;
  padding: 48px;
  display: flex;
}

body section.container div.sobre div.container div.box1 {
  padding: 0 20px 0 0;
}

body section.container div.sobre div.container div.box1 div.resumeBtn {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

body section.container div.sobre div.container div.box1 div.resumeBtn a {
  text-decoration: none;
  transition: 0.3s;
}

body section.container div.sobre div.container div.box1 div.resumeBtn a:hover {
  transform: scale(1.1);
}

body section.container div.sobre div.container div.box1 div.resumeBtn a.btn1 {
  background: #7f5af0;
  font-size: 16px;
  font-weight: bold;
  color: #fffffe;
  padding: 10px 20px;
  margin-right: 20px;
  border-radius: 4px;
  width: 160px;
  margin-bottom: 20px;
  height: 25px;
  padding-top: 13px;
}

body section.container div.sobre div.container div.box1 div.resumeBtn a.btn2 {
  background: #16161a;
  font-size: 16px;
  font-weight: bold;
  color: #fffffe;
  padding: 10px 20px;
  border-radius: 4px;
  width: 160px;
  height: 25px;
  padding-top: 13px;
}

body section.container div.sobre div.container div.box2 {
  min-width: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

body section.container div.sobre div.container h1.nomeSobre {
  color: #fffffe;
  font-size: 48px;
  line-height: 1em;
  font-weight: bold;
  margin: 0;
}

body section.container div.sobre div.container p.subtitulo {
  font-size: 1.5rem;
  color: #fffffe;
  font-weight: lighter;
}

body section.container div.sobre div.container p.resumo {
  font-size: 16px;
  color: #fffffe;
  margin-bottom: 40px;
}

body section.container div.sobre div.container p.resumo a {
  text-decoration: none;
}

body section.container div.sobre div.container p.resumo span {
  color: #7f5af0;
}

body section.container div.blogbg {
  width: 100%;
  max-width: 100%;
  background: #202025;
}
body section.container div.blogbg div.blogmain {
  margin: 0 auto;
  background: #202025;
  padding: 48px;
  max-width: 1096px;
}
body section.container div.blogbg div.blogmain div.postlist {
  display: flex;
}
body section.container div.blogbg div.blogmain div.postlist div.postcard {
  background: #7f5af0;
  margin: 0px 12px 0px 12px;
}
body section.container div.blogbg div.blogmain h2.blogmaintitle {
  font-size: 36px;
  line-height: 1em;
  margin: 0px;
  color: #fffffe;
  border-left: 5px solid #fffffe;
  padding-left: 15px;
}
body section.container div.blogbg div.blogmain h2.blogmaintitle {
  margin-bottom: 40px;
}

@media (min-width: 1200px) {
  body section.container {
    margin-left: 332px;
  }
}
@media (max-width: 1200px) {
  body {
    flex-direction: column;
  }
  body header.header {
    width: 100vw;
    max-width: 100%;
    padding: 0px;
    height: auto;
  }
  body header.header div.bar a {
    display: block;
  }
  body header.header div.box1,
body header.header div.box2 {
    display: none;
  }
  body header.header div.box-ativa {
    display: flex;
  }
  body header.header div.box1 {
    padding-left: 20px;
    padding-right: 20px;
  }
  body section.container {
    margin-top: 60px;
  }
  body section.ativo {
    margin-top: 0px;
  }
  body header.ativo {
    position: static;
  }
}
@media (max-width: 768px) {
  body section.container div.sobre div.container {
    flex-direction: column;
    align-items: center;
    padding: 24px;
  }
  body section.container div.sobre div.container div.box1 {
    padding: 0px 20px 20px 20px;
  }
  body section.container div.sobre div.container div.box2 {
    min-width: 100%;
  }
  body section.container div.sobre div.container div.box2 img {
    max-width: 300px;
    margin: 0 auto;
  }
  body section.container div.blogbg div.blogmain {
    padding: 24px;
  }
  body section.container div.blogbg div.blogmain h2.blogmaintitle {
    margin-bottom: 0px;
  }
  body section.container div.blogbg div.blogmain div.postlist {
    flex-direction: column;
  }
  body section.container div.blogbg div.blogmain div.postlist div.postcard {
    margin: 30px 0px 0px 0px;
  }
}
@media (max-width: 320px) {
  body section.container div.sobre div.container div.box2 {
    max-width: 100%;
  }
  body section.container div.sobre div.container div.box2 img {
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
