img {
  max-width: 100%;
  display: block;
}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
  header.header {
    background: #16161a;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      border-radius: 50%;
      max-width: 160px;
    }
  }
  section.main {
    flex-grow: 1;
  }
}
