img {
  max-width: 100%;
  display: block;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Roboto, sans-serif;
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
  header.header {
    background: #16161a;
    color: #fffffe;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    h2.name {
      font-size: 24px;
    }
    img {
      border-radius: 50%;
      max-width: 160px;
    }
    p.description {
      text-align: center;
      font-size: 14px;
      margin-top: 20px;
    }
    div.social {
      i.fab {
        fill: red;
      }
    }
  }
  section.main {
    flex-grow: 1;
  }
}
