.read-body {
  max-width: 850px;
  padding: 30px 15px 0px 15px;
}
.read-title {
  font-size: 39px;
  font-family: "Lato", sans-serif;
  font-weight: 700px;
  padding: 0;
  line-height: 45px;
  margin: 0 auto;
  letter-spacing: -0.45px;
  text-align: center;
  color: #fffffe;
}
.read-date {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 22px;
  color: #fffffe;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 20px;
}

.read-paragraph {
  font-family: "Lora", serif;
  margin-top: 21px;
  font-size: 21px;
  letter-spacing: -0.03px;
  line-height: 1.58;
  color: #fffffe;
  font-weight: 400;
}

.read-footer {
  width: 100%;
  text-align: center;
}
.read-footer-text {
  color: #fffffe;
  opacity: 0.6;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@media (max-width: 700px) {
  .read-date {
    font-size: 19px;
  }
}

@media (max-width: 580px) {
  .read-footer-text {
    font-size: 18px;
    margin-bottom: 30px;
  }
}
