@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
  }

  .markdown-magic-link {
    display: inline-flex;
    align-items: center;
    background: #8882;
    transform: translateY(3px);
    line-height: 100%;
    color: #475569 !important;
    gap: 0.25rem;
    border-width: 0px !important;
    border-radius: 0.25rem;
    font-family: Roboto Condensed;
    transition-property: color, background-color, border-color, outline-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform,
      filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
  }

  .markdown-magic-link:hover {
    background: #8883;
    color: #555 !important;
  }

  .markdown-magic-link-image {
    display: inline-block;
    height: 1.1em;
    width: 1.1em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
  }
}
